<h2>Edit Article</h2>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content, class:"text-area"%>
  <%= f.submit "Update article"%>
<% end %>

<%= link_to "Back to list", articles_path %>
